.container-coin
    display: flex
    justify-content: center
    background-color: #ebedf3
    height: 100%

.card-coin
    cursor: pointer
    margin-bottom: 3px
    box-shadow: none

.card-coin:hover
    background-color: rgba(0, 0, 0, 0.09)

.card-title
    font-size: 16px
